<section class="mt-5 max-w-screen-xl mx-auto p-4 grid grid-cols-1 gap-4 justify-items-center">
    <div class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow w-auto hover:bg-gray-100">
        <ng-container *ngTemplateOutlet="returnContentRef(); context:{user:(renderedUser$ | async)}"></ng-container>
        <ng-template #skeletonRef>
            <div role="status"
                class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center h-96">
                <div class="flex items-center justify-center w-full h-96 bg-gray-300 rounded sm:w-96 ">
                    <svg class="w-10 h-10 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 18">
                        <path
                            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                    </svg>
                </div>
                <div class="flex flex-col  gap-4 w-96 p-5">
                    <div class="w-full mb-4">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[480px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[440px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[460px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[360px]"></div>
                    </div>
                    <div class="w-full">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[480px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[440px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[460px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full  max-w-[360px]"></div>
                    </div>
                </div>
                <span class="sr-only">Loading...</span>
            </div>


        </ng-template>
        <ng-template #contentRef let-user="user">
            <div [ngStyle]="{'background-image': 'url(' + user?.avatar + ')'}"
                class=" bg-cover bg-center bg-no-repeat bg-gray-400 bg-blend-multiply">
                <a routerLink="/"
                    class="text-white  text-md md:text-xl font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
                    <img class="me-3 h-8 md:h-auto w-8 md:w-8" src="./assets/images/arrow-right-light.svg" alt="">
                    Go Back
                </a>
                <div class="p-5 mb-4 text-white flex flex-col gap-y-36 md:gap-y-96 items-stretch">
                    <div class="self-start flex gap-2 items-center">
                        <div> <img class="rounded-t-lg mx-auto md:w-40" src="./assets/images/id-light.svg" alt="" />
                        </div>
                        <div class="font-bold text-md md:text-4xl">{{user?.id}}</div>
                    </div>
                    <div class="text-start self-start justify-self-start ">
                        <div class="text-md md:text-4xl font-bold">{{user?.firstName}}</div>
                        <div class="text-md md:text-4xl font-bold">{{user?.lastName}}</div>
                        <div class="text-sm md:text-2xl font-medium truncate">{{user?.email}}</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center gap-2 p-4 leading-normal">
                <div class="w-auto md:w-96">
                    <h4 class="text-blue text-3xl font-bold">Bio</h4>
                    <p class="mb-2 text-1xl tracking-tight text-gray-900">I know my routes, the
                        city and customers really well. I want to finish my job and go home on time.</p>
                </div>
                <div class="w-auto md:w-96">
                    <h4 class="text-blue text-3xl font-bold">Background</h4>
                    <p class="mb-3 font-normal text-gray-700">{{user?.firstName}} delivers food around London for FedEx.
                        and working on a fixed contract. Completing deliveries is a piority as a porter, but no day is
                        the
                        same on the roads. {{user?.firstName}}’s time is often limited to take any sort of breaks.</p>
                </div>
            </div>
        </ng-template>
        <ng-template #noContentRef>
            <div class="px-4 mx-auto flex flex-col max-w-screen-xl ">
                <a routerLink="/"
                    class="text-blue text-md md:text-xl font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
                    <img class=" me-3 h-8 md:h-auto w-8 md:w-8" src="./assets/images/arrow-right-blue.svg" alt="">
                    Go Back
                </a>
                <img class="py-24 lg:py-24 h-auto max-w-full mx-auto " src="./assets/images/no-users.png"
                    alt="image description">
                <p
                    class="w-80 md:w-auto mb-8 text-lg font-normal text-blue-400 lg:text-xl sm:px-16 lg:px-48 text-center">
                    No User
                    Found
                </p>
            </div>
        </ng-template>
    </div>
</section>