.blue-bg-5 {
  background-color: rgba(var(--blue-rgb), 0.05);
}

.blue-bg-10 {
  background-color: rgba(var(--blue-rgb), 0.1);
}

.user-card {
  &:hover {
    background-color: rgba(var(--blue-rgb), 0.1);
    .link-btn svg {
      margin-left: 12px;
      transition: margin-left 300ms ease-in;
    }
  }
}

img.avatar {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}
