<nav-bar></nav-bar>
<main class="mt-5 max-w-screen-xl mx-auto p-4 grid grid-cols-1 gap-4 justify-items-center">
    <div class="mb-8">
        <h1
            class=" mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
            Users List</h1>
        <form class="max-w-md mx-auto">
            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <input type="search" id="default-search"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search by ID" required />
                <div class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>

            </div>
        </form>
    </div>

    <!--user cards-->
    <ng-container *ngTemplateOutlet="returnContentRef()"></ng-container>
    <ng-template #skeletonRef>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div role="status"
                class="max-w-sm p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 flex gap-2"
                *ngFor="let skeleton of [1,2,3,4,5,6]">
                <div class="h-2 w-10 bg-gray-200 rounded-full  mb-2.5"></div>
                <div>
                    <div class="flex items-center justify-center h-48 mb-4 bg-gray-300 rounded ">
                        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                            <path
                                d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z" />
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z" />
                        </svg>
                    </div>
                    <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                    <div class="h-2 bg-gray-200 rounded-full  mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full "></div>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #contentRef>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <a *ngFor="let user of users"
                class="user-card transition duration-300 delay-150 hover:scale-105 max-w-sm blue-bg-5 border border-gray-200 rounded-lg shadow p-4 flex cursor-pointer">
                <div id="id" class="me-2">
                    <div class="flex gap-2 items-center">
                        <div> <img class="rounded-t-lg mx-auto" src="./assets/images/id.png" alt="" />
                        </div>
                        <div class="text-blue">{{user.id}}</div>
                    </div>
                </div>
                <div>
                    <img class="avatar rounded-lg mx-auto" [src]="user.avatar" alt="" width="190" />
                    <div class="text-start">
                        <div class="my-2 text-1xl font-bold tracking-tight text-gray-900">{{user.firstName}}
                            {{user.lastName}}</div>
                        <p class="mb-3 font-normal text-gray-400">{{user.email}}</p>
                        <div
                            class="link-btn inline-flex items-center py-2 text-sm font-medium text-center text-blue rounded-lg">
                            <div> View</div>
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div id="pagination" class="py-10">
            <div class="flex flex-col items-center gap-4">
                <!-- Help text -->
                <span class="text-sm text-gray-700 dark:text-gray-400">
                    Showing <span class="font-semibold text-gray-900 dark:text-white">{{start}}</span> to <span
                        class="font-semibold text-gray-900 dark:text-white">{{end}}</span> of <span
                        class="font-semibold text-gray-900 dark:text-white">{{totalUSers}}</span> Entries
                </span>
                <nav aria-label="Page navigation example">
                    <ul class="flex items-center -space-x-px h-8 text-sm">
                        <li>
                            <a (click)="goToPreviousPage()"
                                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                                <span class="sr-only">Previous</span>
                                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 1 1 5l4 4" />
                                </svg>
                            </a>
                        </li>
                        <li *ngFor="let page of pagesList">
                            <a (click)="skipToPage(page)"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{page}}</a>
                        </li>
                        <li>
                            <a (click)="goToNextPage()"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                                <span class="sr-only">Next</span>
                                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </ng-template>
    <ng-template #noContentRef>
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-24">
            <img class="h-auto max-w-full mx-auto  py-4" src="./assets/images/no-users.png" alt="image description">
            <p class="mb-8 text-lg font-normal text-blue-400 lg:text-xl sm:px-16 lg:px-48">No Users Found</p>
        </div>
    </ng-template>
</main>